.tabs .tab a:hover {
  background-color: #e3f2fd !important;
  color: #000000 !important;
}
.tabs .tab a:focus {
  background-color: #2979ff !important;
  color: #fff !important;
}
.tabs .tab a {
  color: #000000 !important;
  text-transform: none !important;
}
.tabs .indicator {
  background-color: #e3f2fd !important;
}
